/* General Reset */
body, html {
    /* box-sizing: border-box; */
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1.5;
    border: 1px solid #ccc;

}

.dark{
    background-color: #333;
    color: white;
}

.dark h2{
    color:rgb(160,212,237);
}

/* Content Wrapper */
.content {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

}

/* Header Styling */
header {
    margin-bottom: 10px;
}

.title {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}

.subtitle {
    font-size: 15px;
    font-weight: normal;
    color: #006EB6;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;

}

/* Paragraph Styling */
.content p {
    text-align: left;
    margin: 0px 0;
    
}

.content p em {
    font-style: italic;
}

/* Ordered List Styling */
ol {
    margin: 20px 0;
    padding-left: 30px;
    text-align: left;
}

ol li {
    margin-bottom: 10px;
}

/* Footer Styling */
footer {
    margin-top: 30px;
}

footer img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

}
